#headway {
    position: fixed;
    top: 0;
    height: 20vh;
    min-height: 130px;
    z-index: 1;
    border-bottom: 2vh solid snow;
}

#headway img {
    position: relative;
    width: 48px;
}

#headway span {
    font-size: .9em;
}






#main {
    position: relative;
    top: 25vh;
    padding-top: 7vh !important;
    padding-bottom: 7vh !important;
    
}

#main > h1 {
    /*margin-top: 5vh;*/
}






#footer {
    position: relative;
    top: 27vh;
}




*[class^="header"] {
    margin: 0;
}






#headway, #main , #footer{
    width: 80vw;
    background: LightSkyBlue;    
    padding: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-left: 6vw;
}